<div class="table-responsive">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
     
      <!-- id Column -->
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
      </ng-container>

       <!-- cedula Column -->
       <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cedula </th>
        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
      </ng-container>
  
  
      <!-- primerNombre Column -->
      <ng-container matColumnDef="primerNombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> primer Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.primerNombre}} </td>
      </ng-container>
  
      <!-- primerApellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> primerApellido </th>
        <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
      </ng-container>

      <!-- correo Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <!-- telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>
      <!-- direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <!-- estado Column -->
      <ng-container matColumnDef="estado" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!--Options-->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="Eliminar(element.cedula)"><mat-icon>delete_outline</mat-icon></button>
          <button mat-icon-button color="warn" (click)="Editar(element.id)"><mat-icon>edit_black</mat-icon></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
