.container-custom {
  height: 90vh;
  color: white;
  background-image: url("../../../../assets/img/fondo_azul_oscuro_home.svg");
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
