<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon matSuffix svgIcon="menu"> </mat-icon>
      </button>
      <h1>Sysventas</h1>
      <span class="menu-spacer"></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
    <mat-nav-list class="sidenav">
      <mat-list-item (click)="showSubmenuInventory = !showSubmenuInventory">
        <span class="full-width letter-bold" *ngIf="isExpandedInventory || isShowingInventory"> Productos </span>
        <mat-icon mat-list-icon svgIcon="inventory" style="padding-right: 10px;"></mat-icon>
        <mat-icon
          matSuffix
          svgIcon="expand-more"
          class="menu-button"
          [ngClass]="{ rotated: showSubmenuInventory }"
          *ngIf="isExpandedInventory || isShowingInventory"
        ></mat-icon>
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{
          absolute: showSubmenuInventory == false,
          relative: showSubmenuInventory == true,
          expanded: showSubmenuInventory
        }"
        *ngIf="isShowingInventory || isExpandedInventory"
      >
        <a
          mat-list-item
          [routerLink]="'/a/productos/productos'"
          [routerLinkActive]="['active']">
          <i id="icon" class="material-icons">settings</i>
          <span id="text" class="text"> Productos </span>
        </a>
      </div>

      <mat-list-item (click)="showSubmenuTerceros = !showSubmenuTerceros">
        <span class="full-width letter-bold" *ngIf="isExpandedTerceros || isShowingTerceros"> Clientes </span>
        <mat-icon mat-list-icon svgIcon="person" style="padding-right: 10px;"></mat-icon>
        <mat-icon
          matSuffix
          svgIcon="expand-more"
          class="menu-button"
          [ngClass]="{ rotated: showSubmenuTerceros }"
          *ngIf="isExpandedTerceros || isShowingTerceros"
        ></mat-icon>
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{
          absolute: showSubmenuTerceros == false,
          relative: showSubmenuTerceros == true,
          expanded: showSubmenuTerceros
        }"
        *ngIf="isShowingTerceros || isExpandedTerceros">
        <a
          mat-list-item
          [routerLink]="'/a/clientes/clientes'"
          [routerLinkActive]="['active']">
          <i id="icon" class="material-icons">settings</i>
          <span id="text" class="text"> Clientes </span>
        </a>
        <a
        mat-list-item
        [routerLink]="'/a/clientes/crearCliente'"
        [routerLinkActive]="['active']">
        <i id="icon" class="material-icons">settings</i>
        <span id="text" class="text"> Crear Cliente </span>
      </a>
      <a
      mat-list-item
      [routerLink]="'/a/clientes/listarClientes'"
      [routerLinkActive]="['active']">
      <i id="icon" class="material-icons">settings</i>
      <span id="text" class="text"> Listar Cliente </span>
      </a> 
      </div>

      <mat-list-item (click)="showSubmenuPurchase = !showSubmenuPurchase">
        <span class="full-width letter-bold" *ngIf="isExpandedPurchase || isShowingPurchase"> Facturación </span>
        <mat-icon mat-list-icon svgIcon="purchase_order" style="padding-right: 10px;"></mat-icon>
        <mat-icon
          matSuffix
          svgIcon="expand-more"
          class="menu-button"
          [ngClass]="{ rotated: showSubmenuPurchase }"
          *ngIf="isExpandedPurchase || isShowingPurchase"
        ></mat-icon>
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{
          absolute: showSubmenuPurchase == false,
          relative: showSubmenuPurchase == true,
          expanded: showSubmenuPurchase
        }"
        *ngIf="isShowingPurchase || isExpandedPurchase">
        <a
          mat-list-item
          [routerLink]="'/a/facturacion/facturacion'"
          [routerLinkActive]="['active']">
          <i id="icon" class="material-icons">settings</i>
          <span id="text" class="text"> Facturación </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="background">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
